APP_NAME="GO FIBER MYSQL"
APP_PORT=3000
APP_ENV=local
APP_PREFORK=false

AWS_ACCESS_KEY_ID="accesskeyhere"
AWS_SECRET_ACCESS_KEY="secretaccesskeyhere"
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET="appname"

# separated by coma
CORS_ORIGINS=http://localhost:3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=go_fiber_mysql
DB_USER=root
DB_PASSWORD=password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASS=root

FILESYSTEM_DISK=local

JWT_SECRET=secret
JWT_REFRESH_SECRET=refresh_secret
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=720h

MAIL_FROM='"APPNAME" <no-reply@appname.com>'
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USERNAME=""
MAIL_PASSWORD=""

LOG_FORMAT=json
LOG_FILE="./storage/logs/app.log"

MEDIA_DISK=local
MEDIA_PUBLIC_BASE_URL=http://localhost:3000/storage/media
# MEDIA_PUBLIC_BASE_URL="https://appname.s3.ap-southeast-1.amazonaws.com"