APP_NAME=Alfatihah Center
APP_ENV=development
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=alfatihah_center
DB_USER=postgres
DB_PASSWORD=password
DB_SSL_MODE=disable
DB_TIMEZONE=UTC

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=your-secret-key
JWT_ISSUER=alfatihah-center

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h
